.clearfix { 
    @include clearfix;
}
.hide { 
    display: none;      
}
.invisible { 
    visibility: hidden; 
}
.antialiased {
    /* make the copy very thin and smooth */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.replace-img {
    /* Replaces text with a background image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}